@keyframes hitSplat {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.hit-splat {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  inset: 0;
  top: auto;
  text-align: center;
  animation: hitSplat 600ms forwards;
}

.health-bar-inner {
  transition: width 100ms;
}
